@import url("https://fonts.googleapis.com/css?family=Montserrat:500,600,700&display=swap");
:root {
  --dkBlue: #023246;
  --orangeRed: #e64222;
  --orange: #fca61d;
  --gold: #f6c10a;
  --darkestBlue: #131031;
  --bada55: #baba55;
}
html {
  background-color: var(--darkestBlue);
}
* {
  box-sizing: border-box;
  margin: 0;
  // padding: 0;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}
.container {
  padding-top: 37px;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}
#welcome-section {
  margin: 0 auto;
  position: relative;
  background-image: url("../images/artwk.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 70vh;
  text-align: center;
}
#welcome-section img {
  width: 100%;
}
span h1 {
  color: var(--gold);
  font-size: 3.25rem;
  padding-top: 53%;
  text-shadow: 4px 4px 8px #000;
  width: 100%;
}
span h2 {
  color: var(--orangeRed);
  text-shadow: 4px 4px 8px #000;
  padding-top: 146px;
  font-size: 1.15rem;
}
#navbar {
  display: flex;
  font-size: 1.8vw;
  justify-content: space-around;
  // align-content: center;
  line-height: 40px;
  width: 100%;
  position: fixed;
  top: 0;
  height: 37px;
  background-color: var(--darkestBlue);
  z-index: 100;
}
a {
  text-decoration: none;
}
a:hover {
  color: red;
}
#projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1.2rem;
}
.p-title {
  font-size: 4.5vw;
  text-align: center;
  letter-spacing: 3px;
  padding: 25px 0 20px 0;
}
section div:nth-child(4) {
  align-self: center;
}
.project-tile h2 {
  font-size: 2.25vw;
  padding-bottom: 10px;
}
.project-tile {
  padding-bottom: 4vw;
  width: 40%;
}
.project-tile img {
  width: 100%;
}
article {
  padding: 5px 15px 25px;
  font-size: 2.25vw;
}
article ul li {
  list-style-type: none;

  font-size: 2.25vw;
}
article h2 {
  font-size: 2.25vw;
  margin: 17px 0 24px;
  text-align: left;
}
ion-icon {
  padding-right: 10px;
  color: var(--orange);
  padding-top: 18px;
}
ion-icon:nth-child(5) {
  color: red;
}
footer {
  padding-top: 40px;
  height: 150px;
  text-align: center;
}

@media screen and (min-width: 400px) {
  footer {
    background-color: var(--orange);
    height: 65px;
    padding-top: 20px;
  }
}
