@import url("https://fonts.googleapis.com/css?family=Montserrat:500,600,700&display=swap");
:root {
  --dkBlue: #023246;
  --orangeRed: #e64222;
  --orange: #fca61d;
  --gold: #f6c10a;
  --darkestBlue: #131031;
  --mint: #baba55;
}
html {
  background-color: var(--darkestBlue);
}
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}
.container {
  padding-top: 37px;
  margin: 0 auto;
}
section #welcome-section {
  margin: 0 auto;
  position: relative;
  background-image: url("../images/artwk.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 80vh;
  text-align: center;
}
#welcome-section img {
  width: 100%;
}
#welcome-section {
  display: flex;
  flex-direction: column;
  gap: 120px;
}
div #welcome-section h1 {
  color: var(--gold);
  text-shadow: 4px 4px 8px #000;
  font-size: 3.25rem;
  margin-top: 304px;
}
span h2 {
  color: var(--orangeRed);
  text-shadow: 4px 4px 8px #000;
  font-size: clamp(0.75rem, -1rem + 8vw, 1.25rem);
  margin-top: 178px;
}
#navbar {
  display: flex;
  font-size: clamp(0.5rem, -0.3075rem + 3.2301vw, 0.9rem);
  justify-content: space-around;
  line-height: 54px;
  width: 100%;
  position: fixed;
  top: 0;
  height: 50px;
  background-color: var(--darkestBlue);
  z-index: 100;
}
a {
  text-decoration: none;
}
a:hover {
  color: red;
}
.p-title {
  font-size: clamp(1rem, -1rem + 8vw, 2rem);
  text-align: center;
  letter-spacing: 3px;
  padding: 25px 0 20px 0;
}
#projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
}

section div:nth-child(4) {
  align-self: center;
}
.project-tile h2 {
  font-size: 13px;
  padding-bottom: 10px;
}
.project-tile {
  padding-bottom: 4vw;
  width: 40%;
}
.project-tile img {
  width: 100%;
}
#featured {
  font-size: 0.75rem;
  margin: 0 34px 24px;
}
article ul li {
  font-size: 0.55rem;
  list-style-type: none;
}
article h2 {
  font-size: 0.75rem;
  margin: 17px 0 10px;
  text-align: left;
}
ion-icon {
  padding-right: 10px;
  color: var(--orange);
  padding-top: 18px;
}
ion-icon:nth-child(5) {
  color: red;
}
footer {
  padding-top: 40px;
  height: 150px;
  text-align: center;
}

@media screen and (min-width: 400px) {
  footer {
    height: 65px;
    padding-top: 20px;
  }
}
@media screen and (min-width: 680px) {
  .project-tile h2 {
    font-size: 16px;
  }
  .project-tile {
    padding-bottom: 4vw;
    width: 27%;
  }
  article:first-of-type {
    padding: 20px 35px 45px;
    outline: 0.5px solid #fff;
  }
}
